{% extends 'usermanagementindex.html' %}
{% load static %}


{% block title %}
Change user profile
{% endblock %}

{% block content %}
<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Add Machine</h3>
  
              <form class="px-md-2" method="POST" action = "/data/add_machine/">
  
                {% csrf_token %}

                {{ form.MachineName.error }}
                {{ form.MachineName.label_tag }}
                {{ form.MachineName }}

                <br><br>

                {{ form.MachineID.error }}
                {{ form.MachineID.label_tag }}
                {{ form.MachineID }}

                <br><br><br>
                {% if form %}
                <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
                {% endif %}
  
              </form>
              {{ message }}

              <a href="/home/">← Back to home</a>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}