{% extends 'usermanagementindex.html' %}
{% load static %}

{% block titleBlock %}
Register User
{% endblock %}


{% block content %}
<section class="h-100 h-custom" style="background-color: #466bd9;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="{% static '/img/generator.jpg' %}"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>
  
              <form class="px-md-2" method="POST" action="/user/register/">
                {% csrf_token %}

                {{instruction}}

                {{ form }}

                {% if error_message %}
                    <p style="color:red">{{ error_message }}</p>
                {% endif %} 
                <br><br><br>

                <div class="form-outline mb-4">
                <button type="submit" class="btn btn-success btn-lg mb-1">Register</button>
                </div>
                <br>
                <p>Already have an account? <a href="/user/login">Sign in</a></p>
  
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}