{% extends 'usermanagementindex.html' %}
{% load static %}


{% block content %}
<section class="h-100 h-custom" style="background-color: #466bd9;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Enter registration code</h3>
              <p>Congratulations, you have successfully created an account. Now it's time to enter your registration code</p>
              
              <form class="px-md-2" method="POST" action = "/user/verify/">
  
                {% csrf_token %}
                {{form}}
                
                {% if form %}
                <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
                {% endif %}

                {{ message }}
              </form>
              <p><a href="/user/logout">Log out</a></p>

              
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}