{% extends 'usermanagementindex.html' %}
{% load static %}


{% block title %}
Change user profile
{% endblock %}

{% block content %}
<section class="h-100 h-custom" style="background-color: #466bd9;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Edit profile</h3>
  
              <form class="px-md-2" method="POST" action = "/user/edit_profile/">
                
                {% csrf_token %}

                {{ form.Sex.error }}
                {{ form.Sex.label_tag }}
                {{ form.Sex }}

                <br><br>

                {{ form.Address.error }}
                {{ form.Address.label_tag }}
                {{ form.Address }}

                <br><br>
                
                {{ form.PhoneNumber.error }}
                {{ form.PhoneNumber.label_tag }}
                {{ form.PhoneNumber }}

                <br><br>

                {{ form.Machines.error }}
                {{ form.Machines.label_tag }}
                {{ form.Machines }}
                {{message}}
                <br><br><br>
                <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
                <p>Go to home? <a href="/home/">Home</a></p>
                <p>View profile information? <a href="/user/profile_view">Profile View</a></p>
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}