{% extends 'index.html' %}
{% load static %}



{% block mainContent %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.1.0/paho-mqtt.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mqtt/5.5.0/mqtt.min.js" integrity="sha512-jRy2TVmjNUHUFX+0ioDrGWOb1pRBtZclqSmHHzHlHE4jRew5jgIK+qWf1M/tYadC6yzY9MXAVxYLbR9WQZPsbQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Vibration Data Recording</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        {% if form_send %}
            <form action="" method="POST">
                {% csrf_token %}
                <label for="MachineID">MachineID of generator to be monitored: </label>
                {{ form_send.MachineID }}
                <br>
                <label for="ControlSignal">How long should vibration be recorded: </label>
                {{ form_send.TimeFrame }}
                <br>
                <input type="submit" value="Submit" id="control_submit">
            </form>
        {% endif %}
        {{status}}
        <div id="monitor">
        </div>
    </div>

    
</div>
<!-- <script type="text/javascript">
    const control_speed=document.getElementById("control_submit");
    const id_verify=document.getElementById("id_verify")
    var id_machine="";
    id_verify.addEventListener("click",(event) => {
        id_machine= document.getElementById("id_MachineID").value;
        alert(id_machine);
    });
    const socket = new WebSocket(`ws://${window.location.host}/ws/control_status`)
    control_speed.addEventListener("click", activity, false);
    
    function activity(){
        console.log(id_machine);
        socket.send(id_machine);
    }
    socket.addEventListener("message", (event) => {
        console.log("Message from server ", event.data);
        socket.send(id_machine);
    });
        
</script> -->

{% endblock %}